@import url(~/node_modules/@fortawesome/fontawesome-free/css/all.css);
@import url(~/node_modules/halfmoon/css/halfmoon.css);

html {
    font-size: 62%;
}

body {
    font-family: Prompt, sans-serif !important;
}

textarea {
    resize: none;
}

.file-names {
    word-wrap: break-word;
}
